@Model.WishList.Model.Item
<h3>
    Add item to wishlist
</h3>
<form asp-action = "create">
    @* Description: <input asp-for="Description" /> <br />
    <span asp-validation-for = "Description"></span> *@
    <button type = "submit"> Add Item</button>
    
</form>